{% extends 'mainapp/base.html' %}
{% load static %}
{% load cache %}

{% block container %}
	<div class="container">
		<div class="hero-white">
			{% include 'mainapp/inc/inc__main_menu.html' %}
		</div>

		<div class="details">
			{% include 'mainapp/inc/inc__product_menu.html' %}
			<h2>Сведения в каталоге по состоянию на: {% now "d-m-Y" %}</h2>
			{% if hot_product %}
				<div class="details-products2">
					<div class="details-slider2">
						<div class="slider-product">
							<img src="/media/{{ hot_product.image|default:'products_images/default.jpg' }}">
						</div>
						<div class="slider-control">
							<div class="block">
								<a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
									<div class="text"></div>
								</a>
							</div>
							<div class="block">
								<a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
									<div class="text"></div>
								</a>
							</div>
							<div class="block">
								<a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
									<div class="text"></div>
								</a>
							</div>
						</div>
					</div>

					<div class="description">
						<h3 class="big-bold">{{ hot_product.name }}</h3>
						<h3 class="red">горячее предложение</h3>
						<p class="price">{{ hot_product.price }}<span>руб</span></p>
						<a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
							заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
						<div class="description-text">
							<p>{{ hot_product.short_desc }}</p>
						</div>
					</div>
				</div>
				<div class="related">
					<div class="title clearfix">
						<h2>Похожие продукты</h2>
						<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
					</div>
					<div class="related-products clearfix">
						{% for product in same_products %}
						<div class="block">
							<a href="#"><img src="/media/{{ product.image|default:'products_images/default.jpg' }}" alt="">
								<div class="text">
									<img src="{% static 'img/icon-hover.png' %}" alt="img">
									<h4>{{ product.name }}</h4>
									<p>{{ product.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<!--<div class="block">-->
							<!--<a href="#"><img src="{% static 'img/product-21.jpg' %}" alt="">-->
								<!--<div class="text">-->
									<!--<img src="{% static 'img/icon-hover.png' %}" alt="img">-->
									<!--<h4>Стул повышенного качества</h4>-->
									<!--<p>Не оторваться. </p>-->
								<!--</div>-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="block">-->
							<!--<a href="#"><img src="{% static 'img/product-31.jpg' %}" alt="">-->
								<!--<div class="text">-->
									<!--<img src="{% static 'img/icon-hover.png' %}" alt="img">-->
									<!--<h4>Стул повышенного качества</h4>-->
									<!--<p>Не оторваться. </p>-->
								<!--</div>-->
							<!--</a>-->
						<!--</div>-->

					</div>
				</div>
			{% endif %}
		</div>

		<div class="clr"></div>

	</div>
{% endblock %}
